* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: hsl(180, 52%, 96%);
    font-family: "Spartan", sans-serif;
}

.appWrapper {
    position: relative;
}

.topBanner {
    background-image: url("./images/bg-header-desktop.svg");
    height: 128px;
    width: 100%;
}

.contentWrapper {
    max-width: 1048px;
    width: 100%;
    margin: 0 auto;
}
